includes:
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/rules.neon
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  phpVersion: 80300
  level: max
  paths:
    - ./src
    - ./tests

  bootstrapFiles:
    - ./vendor/autoload.php

  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    -
      message: '`Dead catch - ReflectionException is never thrown in the try block.`'
      path:    './src/JsonSerializer.php'
      count:   2

    #~ Both bottom errors are due to contexts objects using `JsonSerializableTrait`. They are false positives.
    -
      identifier: function.impossibleType
      path:       'src/JsonSerializableTrait.php'
      count:      2
    -
      identifier: function.alreadyNarrowedType
      path:       'src/JsonSerializableTrait.php'
      count:      1
